<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<article>
    <div class="info">
        <span><%= post[0].reg_date.toLocaleDateString() %></span>
        <span><%= post[0].author %></span>
    </div>
    <h1><%= post[0].title %></h1>
    <p>
        <%= post[0].text %>
    </p>
</article>
</body>
</html>