<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<h1>Posts:</h1>
<ul>
    <% if(posts.length) { %>
        <% posts.forEach(({id, title, reg_date, text, author}) => { %>
            <li>
                <article>
                    <h2>
                        <a href='/posts/<%= id %>'><%= title %></a>
                    </h2>
                    <p><%= text %></p>
                    <div class="info">
                        <span><%= reg_date.toLocaleDateString() || 'No date' %></span>
                        <span><%= author %></span>
                    </div>
                    <button class="btn-delete" data-id="<%= id %>">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </article>
            </li>
        <% }) %>
    <% } %>
</ul>

<script>
    document.querySelectorAll('.btn-delete').forEach((item) => {
        item.addEventListener('click', function(e) {
            let btn = e.target.closest('button');
            if (btn) {
                let id = btn.dataset.id;

                fetch(`/posts/${id}`, {
                    method: 'DELETE'
                }).then(() => {
                    window.location.reload();
                });
            }
        });
    });
</script>

</body>
</html>